<!doctype html>
<html>
<head>
    <title>Change Password - StatDriver</title>
</head>
<body>
<form method="post">
    <input class="ti password" type="password" name="password" placeholder="password" required><br>
    <input class="ti npassword" type="password" name="newPassword" placeholder="new password"><br>
    <input class="ti cnpassword" type="password" name="newPasswordConfirm" placeholder="confirm new password"
           required><br>
    <input class="submitbutton" type="submit" value="submit">
</form>
</body>
</html>