<!doctype html>
<html>
<head>
    <title>Change Password - StatDriver</title>
</head>
<body>
<form method="post">
    <input class="ti password" type="password" name="password" placeholder="password" required><br>
    <input class="ti npassword" type="password" name="newPassword" placeholder="new password"><br>
    <input class="ti cnpassword" type="password" name="newPasswordConfirm" placeholder="confirm new password"
           required><br>
    <input class="submitbutton" type="submit" value="submit">

    <p style="color: red; font-weight: 700;">
        <% if (error == 1) { %>
            Password incorrect!
        <% } else if (error == 2) { %>
            New password and confirmation don't match!
        <% } else if (error == 3) { %>
            Password is already in use!
        <% } %>
    </p>
</form>
</body>
</html>