<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard - StatDriver</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css">
</head>
<body>
<div id="top">
    <div class="logo">StatDriver</div>
    <div id="menu">
        <a href="/profile" class="bmenu profile">profile</a>
        <a href="/dashboard/new-game" class="bmenu newgame">new game</a>
        <a href="/auth/logout" class="bmenu logout">logout</a>
    </div>
</div>
<div id="wrapperh">
    <div class="space"></div>
    <div id="rect">
        <% for(let g of games) { %>
            <div id="game">
                <div class="img"><img width="70" src="/assets/img/icon.png"></div>
                <div id="text">
                    <button class="gamename"> <%= g.name %> </button>
                    <div class="stats">
                        <%= g.scoreboardCount %> scoreboards -
                        <%= g.entryCount %> entries total
                    </div>
                </div>
                <form action="/game/<%= g.id %>" method="post">
                    <input type="submit" name="deleteGame" value="delete game">
                </form>
            </div>
        <% } %>
    </div>
    <div class="space"></div>
</div>
</body>
</html>