<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/game.css">
    <title>Game - StatDriver</title>
</head>
<body>
<ul>
    <div id="top">
        <div class="logo">StatDriver</div>
        <div id="menu">
            <a href="/profile" class="bmenu profile">profile</a>
            <a href="/dashboard" class="bmenu newgame">dashboard</a>
            <a href="/auth/logout" class="bmenu logout">logout</a>
        </div>
    </div>
    <div id="wrapperh">
        <div class="space"></div>
        <div id="rect">

            <ul>
                <% for(s of scoreboards) { %>
                    <form method="post" action="/scoreboard/<%= s.scoreboardId %>">
                        <li>
                            <a class="gamename" href="/scoreboard/<%= s.scoreboardId %>"><%= s.name %></a>
                            <input class="delete" type="submit" name="deleteScoreboard" value="delete">
                        </li>
                    </form>
                <% } %>
            </ul>


            <div id="link">
                <a class="link" href="/game/<%= gameId %>/new-scoreboard">create new scoreboard</a>
            </div>

        </div>
        <div class="space"></div>
    </div>
</ul>
</body>
</html>