<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - StatDriver</title>
</head>
<body>
<form method="post">
    Username (only lowercase, numbers, and _ .): <br>
    <input type="text" name="name" pattern="[a-z][a-z0-9_.]{2,31}" value="<%= name %>" required><br>
    Password: <br>
    <input type="password" name="password" required><br>
    <input type="submit" value="login">
</form>
<p style="color: red; font-weight: 700;">
    <% if (error == 1) { %>
        Password incorrect!
    <% } else if (error == 2) { %>
        User not found!
    <% } %>
</p>

</body>
</html>
