<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - StatDriver</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
</head>
<body>
    <div id="rect">
        <div id="logo">StatDriver</div>
        <div id="information">was wir machen blablabla<br>weitere zeile blabla<br>noch eine zeile blabla</div><br>
        <form>
            <input class="textinput1" type="text" name="email" placeholder="email"><br>
            <input class="textinput2" type="password" name="password" placeholder="password"><br>
             <input class="submitbutton" type="submit" value="login">
            </form>
    </div>
</body>
</html>
