<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Scoreboard - StatDriver</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/new-scoreboard.css">
</head>
<body>
<form method="post">
<div id="top">
    <div class="logo">StatDriver</div>
    <div id="menu">
        <a href="/profile" class="bmenu profile">profile</a>
        <a href="/auth/logout" class="bmenu logout">logout</a>
    </div>
</div>
<div id="wrapperh">

    <div class="space"></div>

    <div id="rect">

    <input class="ti" type="text" name="scoreboardName" placeholder="scoreboard name">
    <input class="submitbutton"  type="submit" value="create game">


    </div>

    <div class="space"></div>

</div>

</form>
</body>
</html>