<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Game</title>
</head>
<body>
<p>

    <form>
        Name: <br>
    <input gameName><br>
        <button formmethod = "post"> submit </button>
    </form>
    <a href = '/dashboard'>back</a>

</p>
</body>
</html>