<!doctype html>
<html>
<head>
    <title>Profile - StatDriver</title>
</head>
<body>
<p>
<form>
    <input class="ti password" type="password" name="password" placeholder="password" required><br>
    <input class="ti npassword" type="password" name="newPassword" placeholder="new password"
           required><br>
    <input class="ti cnpassword" type="password" name="confirmNewPassword" placeholder="confirm new password"
           required><br>
    <input class="submitbutton" type="submit" value="signup">
</form>
</p>

<a href="/profile/password">change password</a>
</body>
</html>
