<!doctype html>
<html>
<head>
    <title>Profile - StatDriver</title>
</head>
<body>
<p>
    Name: <%= details.name %><br>
    E-Mail: <%= details.email %>
</p>
<a href="/profile/change-password">change password</a>
</body>
</html>
