<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scoreboard - StatDriver</title>
</head>
<body>
<h1>details</h1>
<pre>
<%= JSON.stringify(details, null, 2) %>
</pre>
<h1>stats</h1>
<pre>
<%= JSON.stringify(stats, null, 2) %>
</pre>
<h1>entries</h1>
<pre>
<%= JSON.stringify(entries, null, 2) %>
</pre>
</body>
</html>