<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up - StatDriver</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/signup.css">
</head>
<body>


<div id="wrapperh">
    <div class="space"></div>
    <div id="rect">
        <div id="logo">StatDriver</div>
        <div id="information">StatDriver enables you to host your own Scoreboards.<br>
            All you need is a StatDriver account.
        </div>

        <br>
        <form method="post">
            <input class="ti user" type="text" name="name" placeholder="username" pattern="[a-z][a-z0-9_.]{2,31}"><br>
            <input class="ti mail" type="email" name="email" placeholder="email"><br>
            <input class="ti password" type="password" name="password" placeholder="password" required><br>
            <input class="ti cpassword" type="password" name="confirmPassword" placeholder="confirm password"
                   required><br>
            <input class="submitbutton" type="submit" value="signup">
            <input type="hidden" name="from" />

            <a id="back" href="/auth/login">back to login</a>

            <p style="color: red; font-weight: 700;">
                <% if (error == 1) { %>
                    Password and confirmation not matching!
                <% } else if (error == 2) { %>
                    Username or Email already taken by another account!
                <% } %>
            </p>
        </form>
    </div>
    <div class="space"></div>
</div>

</body>
</html>