<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up - StatDriver</title>
</head>
<body>
<p>
<form method="post">
    Username (only lowercase, numbers, and _ .): <br>
    <input type="text" name="name" pattern="[a-z][a-z0-9_.]{2,31}" required><br>
    E-Mail: <br>
    <input type="email" name="email"><br>
    Password: <br>
    <input type="password" name="password"><br>
    Confirm password: <br>
    <input type="password" name="passwordConfirm"><br>
    <input type="submit" value="send">
</form>
<p style="color: red; font-weight: 700;">
<% if (error == 1) { %>
    Password and confirmation not matching!
<% } else if (error == 2) { %>
    Username or Email already taken by another account!
<% } %>
</p>
</p>
<a href="/dashboard">back</a>
</body>
</html>