html {
    height: 100%;
}

body {
    background: #1A203E;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#wrapperh {
    display: flex;
    width: 100%;
}
.space{
    width: 10%;
}

#rect {
    display: flex;
    flex-direction: column;
    background: #0D1333;
    opacity: 0.8;
    backdrop-filter: blur(40px);
    position: relative;
    border-radius: 6px;
    width: 80%;
    height: 550px;
    overflow: scroll;
}

#top {
    display: flex;
}
.logo {
    font-family: 'press_start_2pregular';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    color: #5AA8A3;
    padding-left: 10%;
    padding-bottom: 23px;
}

.ti {
    background: transparent;
    border-radius: 5px;
    border-color: #E5E5E5;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    height: 30px;
    width: 35em;
    text-align: left;
    color: lightgrey;
    font-family: Avenir;
    font-size: 13pt;
}

.password {
    margin-top: 150px;
}

.submitbutton {
    background: #5AA8A3;
    border-color: #5AA8A3;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    height: 30px;
    width: 14em;
    font-family: 'press_start_2pregular';
    font-size: 17pt;
    color: #E5E5E5;
    cursor: pointer;
}

.fehler {
    font-family: 'press_start_2pregular';
    font-size: 9pt;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
}
