html {
    height: 100%;
}

body {
    background: #1A203E;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.ti {
    background: #0D1333;
    border-radius: 5px;
    border-color: #E5E5E5;
    position: absolute;
    right: 0px;
    margin-right: 100px;
    height: 30px;
    width: 35em;
    text-align: left;
    color: lightgrey;
    font-family: Avenir;
    font-size: 13pt;
}
.foo {
    margin-top: 30px;
}
.bar {
    margin-top: 70px;
}
.submitbutton {
    background: #5AA8A3;
    border-color: #5AA8A3;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    margin-right: 100px;
    margin-top: 110px;
    height: 30px;
    width: 10em;
    font-family: 'press_start_2pregular';
    font-size: 17pt;
    color: #E5E5E5;
}

#wrapperh {
    display: flex;
    width: 100%;
}
.space{
    width: 10%;
}

#rect {
    background: #0D1333;
    opacity: 0.8;
    backdrop-filter: blur(40px);
    position: relative;
    border-radius: 6px;
    width: 80%;
    height: 550px;
}
#logo {
    font-family: 'press_start_2pregular';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    color: #5AA8A3;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
}
#information {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    color: #E5E5E5;
    padding-left: 40px;
    line-height: 35px;
}