html {
    height: 100%;
}

body {
    background: #1A203E;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#wrapperh {
    display: flex;
    width: 100%;
}
.space{
    width: 10%;
}

#rect {
    display: flex;
    flex-direction: column;
    background: #0D1333;
    opacity: 0.8;
    backdrop-filter: blur(40px);
    position: relative;
    border-radius: 6px;
    width: 80%;
    height: 550px;
    overflow: scroll;
}

#top {
    display: flex;
}
.logo {
    font-family: 'press_start_2pregular';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    color: #5AA8A3;
    padding-left: 10%;
    padding-bottom: 25px;
}
#menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    margin-right: 10.5%;
}
.bmenu {
    background-color: transparent;
    text-align: left;
    color: lightgrey;
    font-family: Avenir;
    font-size: 13pt;
    cursor: pointer;
    text-decoration: none;
}





#one {
    display: flex;
    margin-top: 5spx;
}

.oneinf{
    font-family: 'press_start_2pregular';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 25px;
    color: #E5E5E5;
    padding-left: 15px;
    padding-bottom: 10px;
}

#onemenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    margin-right: 20px;
    margin-top: 15px;

}

.onemenu{
    background-color: transparent;
    text-align: left;
    color: #E5E5E5;
    font-family: Avenir;
    font-size: 13pt;
    cursor: pointer;
    text-decoration: none;
}




#two{
    display: flex;
    margin-top: 20px;
}

.twotitle{
    font-family: 'press_start_2pregular';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 25px;
    color: #E5E5E5;
    padding-left: 15px;
    padding-bottom: 10px;
}

#twochanges{
    display: flex;
    margin-right: 20px;

    text-align: left;
    color: #E5E5E5;
    font-family: Avenir;
    font-size: 9pt;
}
#twochanges1{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
#twochanges2{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}
#twochanges3{
    display: flex;
    flex-direction: column;
}
#twochanges4{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 57px;
}
.twoti{
    background: #0D1333;
    border-radius: 5px;
    border-color: #E5E5E5;
    height: 16px;
    width: 20em;
    text-align: left;
    color: lightgrey;
    font-family: Avenir;
    font-size: 9pt;
}
.savebutton{
    background: #5AA8A3;
    border-color: #5AA8A3;
    border-radius: 5px;
    height: 20px;
    width: 14em;
    font-family: 'press_start_2pregular';
    font-size: 9pt;
    color: #E5E5E5;
    cursor: pointer;
}





#three{
    display: flex;
    margin-top: 20px;
}
.threetitle{
    font-family: 'press_start_2pregular';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 25px;
    color: #E5E5E5;
    padding-left: 15px;
    padding-bottom: 10px;
}
#threefilters{
    display: flex;
    margin-right: 20px;
    text-align: left;
    color: #E5E5E5;
    font-family: Avenir;
    font-size: 9pt;
    padding-left: 70px;
}
.filter{
    margin-left: 30px;
    margin-right: 30px;
    background: #0D1333;
    border-radius: 5px;
    border-color: #E5E5E5;
    height: 16px;
    width: 20em;
    color: lightgrey;
    font-family: Avenir;
    font-size: 9pt;
    margin-top: 15px;
}
.apply{
    background: #5AA8A3;
    border-color: #5AA8A3;
    border-radius: 5px;
    height: 20px;
    width: 14em;
    font-family: 'press_start_2pregular';
    font-size: 9pt;
    color: #E5E5E5;
    cursor: pointer;
    margin-top: 16px;
}



#four{
    display: flex;

}
.fourtitle{
    font-family: 'press_start_2pregular';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 25px;
    color: #E5E5E5;
    padding-left: 15px;
    padding-bottom: 10px;
}

#four1{
    display: flex;
    margin-right: 20px;
    text-align: left;
    color: #E5E5E5;
    font-family: Avenir;
    font-size: 9pt;
    padding-left: 30px;
}
#four2{
    display: flex;
    margin-right: 20px;
    text-align: left;
    color: #E5E5E5;
    font-family: Avenir;
    font-size: 9pt;
    padding-left: 30px;
}
.dangerbutton{
    background: #5AA8A3;
    border-color: #5AA8A3;
    border-radius: 5px;
    height: 20px;
    width: 14em;
    font-family: 'press_start_2pregular';
    font-size: 9pt;
    color: #E5E5E5;
    cursor: pointer;
    margin-top: 16px;
    margin-left: 30px;
}




.fivetitle{
    font-family: 'press_start_2pregular';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 25px;
    color: #E5E5E5;
    padding-left: 15px;
    padding-bottom: 10px;
}

table.scores {
    box-sizing: border-box;

    margin: 2rem auto;
    width: 40vw;

    border-collapse: collapse;

    color: #E5E5E5;
    font-family: Avenir;
    font-size: 9pt;
}

table.scores tbody:before {
    content: "-";
    display: block;
    line-height: 0.6em;
    color: transparent;
}

table.scores tbody tr td {
    line-height: 1.3em;
}

table.scores tr td:nth-child(1) {
    padding-right: 0.8rem;
}

table.scores tr td.align-l {
    text-align: left;
}

table.scores tr td.align-r {
    text-align: right;
}